
body {
  font-family: 'Arial', sans-serif;
  /*background-color: #FFFDF2; /* Light#a0d2eb background  #f3efff  #EFE3DF */
  margin: 0;
  
  background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );

}

/* Page Containers */
.container {
  max-width: 450px;
  margin: 50px auto;
  padding: 20px;
  background: #1D2B64;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-shadow: 10px 10px 5px 7px #150a01,;  /* #8458B3 6C4F3D */
}

/* Titles  #007bff*/
h2 {
  color: #020a12;
  font-size: 24px;
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #020c17;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Input Fields */
input, select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Buttons */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #04101c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

/* Add this to your CSS file (e.g., App.css or Progress.css) */
.download-btn,.logout-btn  {
  background-color: #df1414;  /* Green background#4CAF50 */
  color: white;               /* White text */
  padding: 10px 20px;         /* Vertical and horizontal padding */
  border: none;               /* Remove borders */
  border-radius: 5px;         /* Rounded corners */
  font-size: 16px;            /* Text size */
  cursor: pointer;           /* Pointer cursor on hover */
  display: block;             /* Block-level to center */
  width: auto;                /* Auto width */
  margin: 20px auto;          /* Centering the button horizontally with margin */
  text-align: center;         /* Center the text inside the button */
}

/* Optional: Hover effect */
.download-btn:hover {
  background-color: #b16161;  /* Darker green on hover */
}


button:hover {
  background-color: #7e4343;  /*#0056b3*/
}

/* Food Intake Table */
.food-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

.welcome-message {
  font-size: 22px;
  font-weight: bold;
  color: #020a12;
  margin-bottom: 20px;
}


.food-column {
  flex: 1;
  margin: 5px;
}

/* Progress Page */
.recharts-responsive-container {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-grad {background-image: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%)}
.btn-grad { 
  margin: 20px auto;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   width: fit-content;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .register-link {
  color: #EDF4F2;
}